@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.nav_links a {
  text-decoration: none;
  text-align: center;
  padding-left: 40px;
  color: black;
  font-weight: 600;
}

.nav ul .btn {
  background-color: aqua;
  width: 50px;
  height: 40px;
  border-radius: 40px;
  margin-left: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}
.logo {
  padding-top: 10px;
}
